@import 'tailwindcss';

@variant dark (&:is(.dark *));

@theme {
	/* Font Theme */
	--font-poppins: Poppins, sans-serif;

	/* Transition Theme */
	--transition-property-height: height;
}

@layer base {
	:root {
		--confetti-1: var(--color-emerald-200);
		--confetti-2: var(--color-emerald-400);
		--confetti-3: var(--color-emerald-600);
		--confetti-4: var(--color-zinc-200);
		--confetti-5: var(--color-zinc-400);
	}

	:root,
	body {
		@apply h-full bg-zinc-50 transition-colors dark:bg-zinc-700;
	}
}
